<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task-4.2.xsd"
		>
	<task:annotation-driven /> <!-- 定时器开关-->  
	<context:property-placeholder location="classpath:gz.properties" />
	<context:component-scan base-package="com.ehighsun.wxtp.." />
		
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/wxtp" />
		<!--服务器 -->
		<!-- <property name="username" value="root" />
 		<property name="password" value="p@ssw0rd" /> -->
		<!--自己用 -->
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- 依次为最大连接数量，最大等待连接数量 -->
		<property name="maxActive" value="10000" />
		<property name="maxIdle" value="6000" />
		
		<property name="validationQuery" value="SELECT 1"/>
 	 	<property name="testOnBorrow" value="true"/>
	</bean>	
		
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 依赖注入上面所配置的数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 通过hibernate.hbm.xml配置其他相关属性 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<!-- 配置Hibernate框架参数 -->
		<property name="hibernateProperties">	
			<props>
		        <prop key="hibernate.autoReconnect">true</prop>   
			</props>
		</property>	
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	
	
</beans>